.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--foreground);
}

.App-link {
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}